<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'dashboard/css/base.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <h2 class="header-h2">FindMe</h2>
        <div class="header-right">
            <div class="header-links">
                <p class="header-links-p"><a href="{% url 'dashboard' %}">Главная</a></p>
                <p class="header-links-p"><a href="{% url 'dashboard' %}#discription">О нас</a></p>
                <p class="header-links-p"><a href="{% url 'login' %}">Анкеты</a></p>
                <p class="header-links-p"><a href="">Заполнить анкету</a></p>
            </div>
            <div class="header-message">
                <p class="header-message-p">Сообщения</p>
                <div class="header-message-counter">
                    1
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>
</html>