@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}

label {
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px;
}
input, textarea {
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#3F3F3F;
    border:0;
    padding:6px 10px;
    font-size:14px;
}
input[type=submit], a.button {
    color: #636467;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    background-color: #3F3F3F;
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}


body{
    background: #1a1919;
    overflow: hidden;
}

*{
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    outline: none;
    text-decoration: none;
}

.window{
    position: relative;
    margin: auto;
    width: 810px;
    background: #3F3F3F;
    box-shadow: drop-shadow(20px 20px 34px rgba(0, 0, 0, 0.25));
    border-radius: 35px;
}

.window-h2{
    padding-top: 60px;
    color: #F90;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.window-els{
    margin-top: 60px;
    margin-left: 100px;
}

.windows-els-div-h2{
    color: #F49E1D;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.windows-els-div-a{
    color: #00AADF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.windows-els-div:nth-child(2){
    margin-top: 25px;
    gap: 25px;
    display: flex;
}

.windows-els-div-icon{
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 90px 90px;
    background-position: center;
    width: 90px;
    height: 90px;
}

.windows-els-div-icon:nth-child(1){
    background-image: url(../pictures/Google.png);
}

.windows-els-div-icon:nth-child(2){
    background-image: url(../pictures/VK.png);
}

.windows-els-div-icon:nth-child(3){
    background-image: url(../pictures/Facebook.png);
}

.windows-els-div:nth-child(3){
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.windows-els-div-input-div-label{
    display: block;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.windows-els-div-input-div-input{
    font-size: 25px;
    margin-top: 10px;
    width: 343px;
    background: none;
    border: none;
    border-bottom: solid 1px #fff;
}

.windows-els-div:nth-child(4){
    margin-top: 50px;
    display: flex;
    padding-bottom: 275px;
}

.windows-els-div-p:nth-child(1){
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.windows-els-div-p:nth-child(2){
    color: #00AADF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
}

#r3{
    font-size: 40px;
}
